ul{
    list-style-type: none;
    display: flex;
}

li{
    margin-left: 10px;
}

.background {
    width: 100vw;
    background-color: darkslateblue;
    text-align: center;
}
.head-nav {
    background-color: gainsboro;
    height: 5vh;
}
.title {
    font-size: 35px;
}
.main-link-title {
    margin: 5vh 2vw 2vh 5.2vw;
    width: 25vw;
    height: 60vh;
    float: left;
    padding-top: 30px;
}
.main-link {
    margin-top: 20px;
}
.card-body {
    background: whitesmoke;
}
.card-img-top {
    border-bottom: 1px solid lightgray;
}
.form-filter {
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    color: gainsboro;
}
.processor {
    background: whitesmoke;
    width: 70%;
    height: 140px;
    margin: 20px 0 10px 30px;
    padding-top:10px ;
    -webkit-border-radius: 13px 13px 20px 20px;
    -moz-border-radius: 13px 13px 20px 20px;
}
.card-text {
    color: black;
}
.card-title {
    color: black;
}
.prcsr-title, .prcsr-annotation, .prcsr-price {
    color: white;
    float: left;
    margin: 10px 50% 40px 100px;
    text-align: start;
}
.prcsr-back {
    background: gainsboro;
    -webkit-border-radius: 13px 13px 20px 20px;
    -moz-border-radius: 10px 10px 20px 20px;
    height: 20%;
}
.element-image {
    display: block;
    max-width: 100%;
}
.footer-button {
    text-align: center;
    color: black;
    background: gainsboro;
    height: 30px;
    width: 50px;
    float: left;
    margin-left: 5px;
}
.footer-block {
    display: inline-block;
}
.right-margin {
    margin-left: 46%;
}
.carousel {
    margin: 50px 50px 50px 50px;
}
.left-margin {
    margin-left: 45%;
}