.background {
    width: 100vw;
    background-color: darkslateblue;
    text-align: center;
}
.head-nav {
    background-color: gainsboro;
    height: 5vh;
}
.title {
    font-size: 35px;
}
.main-link-title {
    margin: 5vh 2vw 2vh 5.2vw;
    width: 25vw;
    height: 60vh;
    float: left;
    padding-top: 30px;
}
.main-link {
    margin-top: 20px;
}
.card-body {
    background: gainsboro;
}
.card-img-top {
    border-bottom: 1px solid lightgray;
}
.form-filter {
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    color: gainsboro;
}
.processor {
    background: gainsboro;
    width: 20%;
    margin: 20px 20px 20px 10%;
    padding: 10px 10px 10px 10px;
    -webkit-border-radius: 13px 13px 20px 20px;
    -moz-border-radius: 10px 10px 20px 20px;
}
.card-text {
    color: black;
}
.card-title {
    color: black;
}
.prcsr-title {
    color: white;
    float: left;
    margin: 40px 40px 40px 100px;
}