{% extends "processor.html" %}
    {% block content %}
        <div class="productBlock">
            <img width="200px" class="productImg"  src="{{ mthboard.image }}"><br>
            <h2 class="prcsr-title" >{{ mthboard.title }}</h2><br>
            <h3 class="prcsr-price">{{ mthboard.price }} руб.</h3>
            <button class="btn btn-warning " style="position: relative; top:20vh;right: 164px; width: 150px; height: 40px">Купить</button>
        </div>
        <div class="annBlock">
            <h4 >Описание</h4>
            <h4 class="prcsr-annotation">{{ mthboard.annotation }}</h4><br>
        </div>
    {% endblock %}
