{% extends "index.html" %}

    {% block content %}
            <img width="200px" src="{{ processor.image }}" class="productImg">

            <h2 class="prcsr-title" style="text-align: right">{{ processor.title }}</h2><br>
            <h3 class="prcsr-price">{{ processor.price }} руб.</h3>
            <button class="btn btn-warning " style="position: relative; top: 160px; right: 7vw; margin-top: 10px; width: 7vw; height: 2vw">Купить</button>
            <h4 style="color: white; position: relative; top: 34vh; text-align: left;left: 11.5vw">Описание</h4>
            <p class="prcsr-annotation">{{ processor.annotation }}</p>

    {% endblock %}

