{% extends "index.html" %}

    {% block content %}
        <div class="productBlock">
            <img width="200px" src="{{ processor.image }}" class="productImg">
            <h2 class="prcsr-title">{{ processor.title }}</h2><br>
            <h3 class="prcsr-price">{{ processor.price }} руб.</h3>
            <button class="btn btn-warning " style="position: relative; top:20vh; right: 7.5vw; width: 150px; height: 40px">Купить</button>
        </div>
        <div class="annBlock">
            <h4 >Описание</h4>
            <p class="prcsr-annotation">{{ processor.annotation }}</p>
        </div>
    {% endblock %}

